**/*.mvm
**/*.js
!/samples/shells/parameters.js
!/samples/viz-standalone.js
**/*.pacioli~
**/*.java~
/src/uom/target/
/src/pacioli/target/
/src/mvm/target/
.vscode/
/src/pacioli-js/node_modules/
/src/pacioli-js/dist/
/src/pacioli-js/test/
/src/uom-ts/node_modules/
/src/uom-ts/dist/
/src/uom-ts/test/
bundle.cmd
pacioli.bat
debug.options
doc/
doc.sh
samples/shock_tube/
samples/commodity/
geometric_algebra_scratch.pacioli
scratch.pacioli
vscode/pacioli/lib/
vscode/pacioli/out/
vscode/pacioli/node_modules/
vscode/pacioli/*.jar
vscode/pacioli/*.vsix