**/*.mvm
**/*.js
**/*.pacioli~
**/*.java~
/src/uom/target/
/src/pacioli/target/
/src/mvm/target/
.vscode/
/src/pacioli-js/node_modules/
/src/pacioli-js/dist/
/src/pacioli-js/test/
/src/uom-ts/node_modules/
/src/uom-ts/dist/
bundle.cmd
pacioli.bat
debug.options
doc/
samples/shock_tube/
samples/numpy/
samples/net/
samples/commodity/
samples/adt/
geometric_algebra_scratch.pacioli
scratch.pacioli
