**/*.mvm
lib/**/*.js
samples/**/*.js
test/**/*.js
!/samples/shells/parameters.js
!/samples/viz-standalone.js
**/*.pacioli~
**/*.java~
/src/uom/target/
/src/pacioli/target/
/src/mvm/target/
.vscode/**
!.vscode/launch.json
/src/pacioli-js/node_modules/
/src/pacioli-js/dist/
/src/pacioli-js/test/
/src/uom-ts/node_modules/
/src/uom-ts/dist/
/src/uom-ts/test/
doc/*
!doc/index.html
vscode/pacioli/lib/
vscode/pacioli/out/
vscode/pacioli/node_modules/
vscode/pacioli/*.jar
vscode/pacioli/*.vsix
vscode/pacioli/.vscode/**
samples/shock_tube/
samples/commodity/
debug.options
doc.sh
pacioli.bat
